@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

.font-outfit {
    font-family: 'Outfit', sans-serif;
}

html,
body,
#map {
    position: absolute;
    inset: 0;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

#map {
    height: 100dvh;
    min-height: -webkit-fill-available;
}

html {
    overscroll-behavior: none;
    background-color: #141414 !important;
}

.minimap {
    @apply hidden sm:block
}

@supports (padding: max(0px)) {

    html,
    body,
    #map {
        padding-top: max(16px, env(safe-area-inset-top));
        padding-bottom: max(0px, env(safe-area-inset-bottom));
    }
}

.infoContainer {
    margin-top: env(safe-area-inset-top);
}