@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import 'tailwindcss';

#intListContainer * {
    animation: fadeIn 0.5s ease forwards;
}

#intDetailTitle * {
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: blur(10px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}

@theme {
    --color-int1: #6B7878;
    --color-int2: #119A4C;
    --color-int3: #136CA5;
    --color-int4: #C99C00;
    --color-int5L: #F18A2D;
    --color-int5U: #D16A0C;
    --color-int6L: #EB1900;
    --color-int6U: #A50006;
    --color-int7: #960096;
}

@custom-variant dark (&:where(.dark, .dark *));

.font-outfit {
    font-family: 'Outfit', sans-serif;
}

html,
body,
#map {
    position: absolute;
    inset: 0;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

#map {
    height: 100dvh;
    min-height: -webkit-fill-available;
}

html {
    overscroll-behavior: none;
    background-color: #141414 !important;
}

.minimap {
    @apply block;
    width: 100% !important;
    height: 120px !important;
}

@media (max-width: 767px) {
    #sidebar {
        max-height: 80vh;
        overflow: hidden;
    }

    #sidebar>div:last-child {
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

.infoContainer {
    margin-top: env(safe-area-inset-top);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

* {
    scrollbar-width: thin;
}